 #nav {
   background-color: #4056A1;
   height: 120px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 100;
   display: none;
 }

 #tweeter-logo {
   position: fixed;
   top: 0;
   left: 0;
   color: #ffffff;
   font-family: 'Bungee', cursive;
   float: left;
   margin: 1em;
   font-size: 18pt;
   z-index: 200;
 }

 .new-tweet-button {
   position: fixed;
   top: 0;
   right: 0;
   font-size: 12pt;
   color: #ffffff;
   margin: 1.5em;
   float: right;
   z-index: 200;
 }

  .new-tweet-button:hover {
  font-size: 0.75em;
  color: #4056A1;
  transition: 0.15s linear;
 }

 #write {
   font-weight: bold;
 }

 #down-arrow {
  color: #4056A1;
  font-size: 2em;
  position: relative;
  text-align: center;
  animation: MoveUpDown 1s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    top: 0em;
  }
  50% {
    top: 0.5em;
  }
}