 nav {
   background-color: #4056A1;
   height: 120px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1000;
 }

 nav span {
   color: #FFFFFF;
   font-family: 'Bungee', 'cursive';
   display: block;
   margin: 1.5em;
 };