 #nav {
   background-color: #4056A1;
   height: 120px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1000;
 }

 #tweeter-logo {
   color: #ffffff;
   font-family: 'Bungee', cursive;
   display: inline-block;
   margin: 1.5em;
 }

 #new-tweet {
   color: #ffffff;
   display: inline-block;
   margin: 1.5em;
   float: right;
 }