.new-tweet {
  display: none;
  overflow: hidden;
}

#error-message {
  background-color: #ffbaba;
  color: red;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: none;
}

textarea {
  margin-top: 15px;
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  display: block;
  outline: none;
  resize: none;
  border: none;
  border-bottom: solid;
  color: #545149;
  background-color: #f4f1ec;
}

input {
  background-color: #4056A1;
  color: #ffffff;
  font-family: 'Bungee', cursive;
  float: left;
  outline: none;
}

.counter {
  font-family: 'Bungee', cursive;
  float: right;
}