.tweet {
  background-color: white;
  border: solid;
  top: 3em;
  position: relative;

}

.tweetedBy {
  float: left;
  margin: 1em;
}

.username {
  float: right;
  display: none;
  margin: 1em;
}

.tweet header {
  margin: 0 auto;
  height: 40px;
  /* background-color: #f4f1ec; */
}