.tweet {
  background-color: #f4f1ec;
  border: solid;
  top: 3em;
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
  box-shadow: none;
}

.tweet .user-icon {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
}

.tweet .tweetedBy {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
}

.tweet .username {
  float: right;
  display: none;
  color: #4056a1;
  /* margin: 0.25em; */
}

.tweet header {
  margin: 0.5em;
  height: 20%;
}

.tweet .content {
  margin: 1.5em;
  padding: 1em;
  border-bottom: solid;
  font-size: 1;
  font-weight: bold;
}

.tweet footer {
  height: 20%;
  margin: 0.5em;
}

.tweet .retweet-button {
  color: #4056a1;
  float: right;
  margin-right: 3px;
  margin-left: 3px;
}

.tweet .flag-button {
  color: #4056a1;
  float: right;
  margin-right: 3px;
  margin-left: 3px;
}

.tweet .like-button {
  color: #4056a1;
  float: right;
  margin-right: 3px;
  margin-left: 3px;
}